<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Media Game</title>

	<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/animate_loading.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    {% csrf_token %}

    <div class="header">
        <h1>Media Game</h1>
        <h2>Test your skill!</h2>
    </div>
    <div class="main-content">
        <div class="container">
            <table>
                <tbody>
                    <tr class="row header">
                        <td colspan="4" class="column category">Score: <span class="score-value">0</span></td>
                    </tr>
                    <tr class="row">
                        <td class="column category"><b>История новости</b></td>
                        <td onmouseenter="playHover(event)" class="column" data-number="1">100</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="2">200</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="3">300</td>
                    </tr>
                    <tr class="row">
                        <td class="column category">Мир новостей</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="4">100</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="5">200</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="6">300</td>
                    </tr>
                    <tr class="row">
                        <td class="column category">Это реклама?</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="7">100</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="8">200</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="9">300</td>
                    </tr>
                    <tr class="row">
                        <td class="column category">Можно ли верить СМИ наслово?</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="10">100</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="11">200</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="12">300</td>
                    </tr>
                    <tr class="row">
                        <td class="column category">О чем говорит картинка?</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="13">100</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="14">200</td>
                        <td onmouseenter="playHover(event)" class="column" data-number="15">300</td>
                    </tr>
                </tbody>
            </table>
            <div class="question-wrapper"><div class="close-button" style="display: none"></div></div>
            <div style="display: none">
                <div data-statistics="score">{{ average_score }}</div>
                {% for statistic in answers_statistics %}
                    <div data-statistics="question">
                        <span>Question number: {{ statistic.question_number }}</span>
                        <span>All count: {{ statistic.all_count }}</span>
                        <span>Correct count: {{ statistic.correct_count }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base/ajax-setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/game.js' %}"></script>
    {% if show_statistics %}
        <script type="text/javascript" src="{% static 'js/statistics.js' %}"></script>
    {% endif %}
</body>
</html>